*.gen.ts linguist-generated=true

/packages/kratos/src/lib/kratos/api.generated/** linguist-generated=true
/packages/intl/src/poeditor/api.generated/** linguist-generated=true
/packages/linters/eslint-config/build/** linguist-generated=true
/packages/linters/eslint-plugin/build/** linguist-generated=true
